@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans|PT+Sans|PT+Sans+Caption|Sansita');


//melhorar nomes variáveis
$primary-color: #003920;
$font-primary: #053a1d;
$primary-contrast: #92C83E;
$secundary-color: #D6EACE;
$branco: #fff;
$cinza-claro: #ddd;
$azul-claro: #D5E2F0;

body{
  font-family: 'PT Sans', sans-serif;
  min-height: 100vh;
}
h1,h2,h3{
  color: $primary-color;
}
@media screen and (max-width: 768px) {
  font-size: 10px;
} 
.titulo-pagina{
  font-size: 3em;
  h1{
    color: $primary-color;  
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bold;
  }
  .carrinho-block{
    color: $primary-color;
    float: right;
    position: absolute;
    right: 60px;
    border-bottom: 3px solid transparent;
    // padding-top: 0.0.5em;
    transition:all 0.5s ease 0s;
    background-color: transparent;
    border-radius: 50%;
    padding: 0.3em 0.4em;
    top: 15px !important;
    &:hover{
      text-decoration: none;
      border-bottom: 3px solid $primary-color;
      // background-color: $azul-claro;
    }
    p{
      font-size: 0.5em;
    }
    @media screen and (max-width: 890px) {
      top: -10px !important;
    } 
    @media screen and (max-width: 490px) {
      background-color: rgba(0, 57, 32, 0.9);
      position: fixed;
      right: 10px;
      bottom: 10px;
      border-bottom: 3px solid transparent;
      border-radius: 50%;
      padding: 0em 0.37em 0.23em 0.35em;
      max-height: 65px;
      max-width: 65px;
      color: #fff;
      top: unset !important;
      z-index: 9999;
      i{
        font-size: 0.6em;
        vertical-align: middle;
      }
      p{
        font-size: 0.3em;
      }
    } 
  }
  .back-block{
    color: $primary-color;
    float: left;
    position: absolute;
    left: 60px;
    top: 25px;
    border-left: 3px solid transparent;
    // padding-top: 0.0.5em;
    transition:all 0.5s ease 0s;
    background-color: transparent;
    border-radius: 50%;
    padding: 0.3em 0.5em 0.3em 0.4em;
    &:hover{
      text-decoration: none;
      border-left: 3px solid $primary-color;
      // background-color: $azul-claro;
    }

    &:hover{
      text-decoration: none;
    }
    @media screen and (max-width: 993px) {
      top: -10px !important;
    } 
    @media screen and (max-width: 490px) {
      left: 15px;
      top: 110px !important;
      z-index: 9999;
      background-color: rgba(0, 57, 32, 0.9);
      border-radius: 50%;
      padding: 0.2em 0.45em 0.2em 0.2em;
      max-height: 50px;
      max-width: 50px;
      color: #fff;
      z-index: 9999;
    } 
  }
}
hr{
  border-top: 2px solid $secundary-color;
}
h2.sub-title{
  @media screen and (max-width: 490px) {
    text-align: right;
    margin-right: 20px; 
  }
}
.livros{
  padding: 0;
  
  .livro{
    border: 2px solid $secundary-color;
    background-color: $secundary-color;
    border-radius: 4px;
    margin-bottom: 1.8em;
    transition:all 0.5s ease 0s;
    &:hover{
      border: 2px solid $primary-color;
    }
    @media screen and (max-width: 768px) {
      border: 2px solid $primary-color;
      max-width: 400px;
      margin: 15px  auto;
    } 
    .titulo{
      color: $primary-color;
      font-size: 2.3em;
      font-weight: bold;
      padding: 0.4em 0 0;
      @media screen and (max-width: 425px) {
        font-size: 1.5em;
      } 
    }
    .body{
      color: $font-primary;
      font-weight: bold;
      height: auto;
      display: flex;
      justify-content: center;
      font-size: 1.4em;
      border-bottom: 1px solid $cinza-claro;
      padding: 1.2em 0;
      @media screen and (max-width: 425px) {
        padding: 0.5em 0;
        font-size: 1.1em;
      } 
      .imagem{
        img{
          margin: 0 auto;
          max-height: 180px;
          @media screen and (max-width: 768px) {
            max-height: 140px;
          } 
        }
      }
      .livro-itens{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 0.3em;
        .valor{
          @media screen and (max-width: 425px) {
            font-size: 1.2em;
          } 
        }
      }
      div{
        justify-content: center;
        width: 50%;
        position: relative;
      }
    }
    .rodape{
      width: 100%;
      .btn-add-carrinho{
        margin: -0.5%;
        background-color: $primary-color;
        width: 101%;
        height: 100%;
        display: block;
        color: $branco; 
        font-size: 1.6em;
        text-decoration: none;
        padding: 0.4em 0;
        border-bottom-right-radius: 4px;
        border-bottom-left-radius: 4px;
        transition:all 0.3s ease 0s;
        cursor: pointer;
        &:hover{
          background-color: lighten($primary-color, 10%);
        }
        @media screen and (max-width: 425px) {
          font-size: 1.2em;
        } 
      }
    }
  }
}



.total{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $cinza-claro;
  padding: 20px;
  text-align: center;
  color: $primary-color;
  .valor{
    font-size: 2em;
  }
  .button-finalizar {
    border-radius: 5px;
    padding: 8px 20px;
    font-size: 1.6em;
    text-decoration: none;
    margin: 20px;
    color: $branco;
    position: relative;
    display: inline-block;
    background-color: #55acee;
    box-shadow: 0px 5px 0px 0px #3C93D5;
    &:hover {
      background-color: #6FC6FF;
    }
    &:active {
      transform: translate(0px, 5px);
      -webkit-transform: translate(0px, 5px);
      box-shadow: 0px 1px 0px 0px;
    }
  }
  @media screen and (max-width: 490px) {
    padding: 10px;
    .button-finalizar {
      margin: 10px auto;
    }
    .valor{
      font-size: 1.6em;
    }
  } 
}

//TABELA

$breakpoint-alpha: 480px; // adjust to your needs

.rwd-table {
  margin: 0 auto;;
  min-width: 270px; 
  width: 100%;
  tr {
    border-bottom: 1px solid $secundary-color;
  }
  th {
    display: none;
  }
  td {
    display: block; 
    &:first-child {
      padding-top: .5em;
    }
    &:last-child {
      padding-bottom: .5em;
    }
    &:last-child{
      &:before {
        content: attr(data-th)"";
      }
    }
    &:before {
      content: attr(data-th)": "; 
      font-weight: bold;
      width: 6.5em;
      display: inline-block;
      @media (min-width: $breakpoint-alpha) {
        display: none;
      }
    }
  }
  
  th, td {
    @media (min-width: $breakpoint-alpha) {
      display: table-cell;
      padding: .25em .5em;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.rwd-table {
  background: $primary-color;
  color: $branco;
  font-size: 1.3em;
  font-family: 'PT Sans', sans-serif;
  border-radius: .4em;
  overflow: hidden;
  tr {
    border-color: lighten($primary-color, 10%);
  }
  th, td {
    .opcoes{
      display: flex;
      i{
        font-size: 1.6em;
        flex-grow: 1;
        text-align: center;
        &:before{
          text-align: center;
        }
        &:hover{
          // zoom: 110%;
        }
      }
    }
    text-align: center;
    margin: .5em 1em;
    &:first-child {
      text-align: left;
    }
    @media (min-width: $breakpoint-alpha) { 
      padding: 1em !important;
    }
    @media (max-width: $breakpoint-alpha) { 
      text-align: left;
    }
  }
  th, td:before {
    color: $primary-contrast;
  }
}