<section class="col-md-12">
    <header class="titulo-pagina text-center">
        <h1>
            Livraria Stone
            <a class="carrinho-block" ui-sref="app.carrinho">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <p ng-show="livrosCarrinhoTotal>0">{{ livrosCarrinhoTotal }}&nbsp;livro{{ livrosCarrinhoTotal > 0 ? 's' : '' }}</p>
            </a>
        </h1>
    </header>
    <hr>
    <div class="row">
        <div class="col-md-12 livros">
            <article class="col-lg-3 col-md-4 col-sm-6 col-xs-12"
                     ng-repeat="livro in livros track by $index">
                <livro-directive livro="livro" adiciona-livro="adicionaLivro(livro)">
            </article>
        </div>
    </div>
</section>