<div class="livro">
    <header class="titulo text-center">{{::livro.titulo | uppercase}}</header>
    <div class="body">
        <div class="imagem">
                <img class="img-responsive" ng-src="{{livro.foto}}">
        </div>
        <div class="livro-itens">
            <p class="descricao">{{::livro.descricao}}</p>
            <p class="valor">R$ {{::livro.valor}}</p>
        </div>
    </div>
    <footer class="rodape">
        <a ng-click="adicionaLivro(livro)" class="btn-add-carrinho text-center">Adicionar ao carrinho</a>
    </footer>
</div>