<section class="col-md-12" style="padding-bottom: 150px; min-height: 100vh;">
    <header class="titulo-pagina text-center">
        <h1>
            <a class="back-block" ui-sref="app.loja">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </a>
            Livraria Stone
        </h1>
    </header>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center sub-title">Carrinho <i class="fa fa-shopping-cart" aria-hidden="true"></i></h2><br>
        </div>
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
            <table class="rwd-table">
                <tr>
                    <th>Descrição</th>
                    <th>Quantidade</th>
                    <th>Subtotal</th>
                    <th>Opções</th>
                </tr>
                <tr ng-repeat="livro in livros track by $index">
                    <td data-th="Descrição">{{livro.titulo}}</td>
                    <td data-th="Quantidade">{{livro.contador}}</td>
                    <td data-th="Subtotal">{{calculaParcial(livro) | currency:'R$'}}</td>
                    <td data-th="" class="custom-options">
                        <span class="opcoes">
                            <i ng-click="atualizaLivro(livro, true)" class="fa fa-plus-circle add text-primary" aria-hidden="true"></i>
                            <i ng-click="atualizaLivro(livro, false)" class="fa fa-minus-circle minus text-warning" aria-hidden="true"></i>
                            <i ng-click="removeLivro(livro)" class="fa fa-times-circle remove text-danger" aria-hidden="true"></i>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="total">
        <span class="valor">Total: {{calculaTotal() | currency:'R$'}}</span>
        <a class="button-finalizar blue">Finalizar compra</a>
    </div>
</section>